.about {
  padding: 40rpx;
  text-align: center;
}

.title {
  font-size: 48rpx;
  font-weight: bold;
  color: #333;
  margin-bottom: 60rpx;
}

.content {
  margin-bottom: 80rpx;
  
  text {
    display: block;
    font-size: 32rpx;
    color: #666;
    line-height: 1.8;
    margin-bottom: 20rpx;
    text-align: left;
  }
}

.actions {
  .btn {
    width: 100%;
    height: 88rpx;
    line-height: 88rpx;
    background: #3cc51f;
    color: #fff;
    border-radius: 8rpx;
    font-size: 32rpx;
  }
} 