/* 照片时间轴样式 - Ant Design Timeline 风格 */
.photoGrid {
    display: flex;
    flex-direction: column;
    gap: 40rpx;
    position: relative;
}

.photoGrid::before {
    content: '';
    position: absolute;
    left: 30rpx;
    top: 0;
    bottom: 0;
    width: 2rpx;
    background: #e8e8e8;
    border-radius: 1rpx;
}
  
.photoItem {
    position: relative;
    display: flex;
    align-items: flex-start;
    
    &::before {
      content: '';
      position: absolute;
      left: 24rpx;
      top: 12rpx;
      width: 12rpx;
      height: 12rpx;
      background: #7a8ff0;
      border-radius: 50%;
      z-index: 2;
      border: 3rpx solid #fff;
      box-shadow: 0 2rpx 8rpx rgba(0, 0, 0, 0.15);
    }
}
  
.photoContent {
    margin-left: 60rpx;
    flex: 1;
}
  
.photoDate {
    display: block;
    font-size: 28rpx;
    color: #333;
    font-weight: 500;
    margin-bottom: 12rpx;
    line-height: 1.4;
}
  
.photo {
    border-radius: 12rpx;
    box-shadow: 0 4rpx 20rpx rgba(0, 0, 0, 0.1);
}
  