.emptyState {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100rpx 0;
    flex: 1;
}
  
.emptyText {
    font-size: 30rpx;
    color: rgba(255, 255, 255, 0.7);
}