.user {
  padding: 40rpx;
  text-align: center;
}

.avatar {
  width: 200rpx;
  height: 200rpx;
  border-radius: 50%;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 40rpx;
  
  .avatar-text {
    font-size: 28rpx;
    color: #999;
  }
}

.info {
  margin-bottom: 80rpx;
  
  .name {
    display: block;
    font-size: 36rpx;
    font-weight: bold;
    color: #333;
    margin-bottom: 20rpx;
  }
  
  .desc {
    display: block;
    font-size: 28rpx;
    color: #666;
  }
}

.actions {
  .btn {
    width: 100%;
    height: 88rpx;
    line-height: 88rpx;
    background: #3cc51f;
    color: #fff;
    border-radius: 8rpx;
    margin-bottom: 30rpx;
    font-size: 32rpx;
  }
  
  .logoutBtn {
    width: 100%;
    height: 88rpx;
    line-height: 88rpx;
    background: #ff4757;
    color: #fff;
    border-radius: 8rpx;
    font-size: 32rpx;
  }
} 