.header {
    text-align: center;
    margin-bottom: 50rpx;
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.titleSection {
    flex: 1;
    text-align: center;
}

.title {
    display: block;
    font-size: 48rpx;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 2rpx 4rpx rgba(0, 0, 0, 0.3);
}

.subtitle {
    margin-top: 20rpx;
    display: block;
    font-size: 28rpx;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 1rpx 2rpx rgba(0, 0, 0, 0.3);
}

.rightButtons {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
}

.leftButton {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
}